{% extends 'admin.html.twig' %}

{% block title %}PrestationsMariages{% endblock %}

{% block container %}
    <h1>PrestationsMariages</h1>
    <div class="card2 mt-5 col-8 col-sm-8 col-md-7 col-lg-3 col-xl-3 mx-auto cardInfos text-center">
        <div class="card cardInfos text-center">
            <h4 class="font-weight-bold text-center pt-2">Prestations</h4>
            <div class="mt-4 mb-3 mx-auto  col-11">
                <ul class="list-group">
                    {#   {% for prestation in prestationM %}
                           <li class="list-group-item">{{prestation.prestation.Nom}}</li>
                       {% endfor %} #}
                </ul>
            </div>
            <div class="btn-group btn-group-sm mx-auto  mb-3 col-11" role="group" aria-label="...">
                <button type="button" class="btn btn-dark flip1"><i
                            class="fas fa-folder-plus"></i></button>
                <a href="#" type="button" class="btn btn-info"><i class="fas fa-edit"></i></a>
                <a href="#" type="button" class="btn btn-danger "><i
                            class="fas fa-trash-alt"></i></a>
            </div>
            <div class="mb-3">
                <fieldset class="panel1">
                    <ul class="list-group col-11 mx-auto p-0">
                        {# {% for prestation in prestations %}
                               <li class="list-group-item"><label for="checkbox-nested-1"> {{ prestation.Nom }}
                                       <input type="checkbox" name="checkbox-nested-1" id="checkbox-nested-1">
                                   </label></li>
                           {% endfor %}#}
                    </ul>
                    <button type="submit" class="btn btn-dark mt-3 flip1" name="valider">Valider</button>
                </fieldset>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestations_mariage.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestations_mariages_index') }}">back to list</a>

    <a href="{{ path('prestations_mariages_edit', {'id': prestations_mariage.id}) }}">edit</a>

    {{ include('prestations_mariages/_delete_form.html.twig') }}


{% endblock %}