{% extends 'admin.html.twig' %}

{% block title %}Mariages index{% endblock %}

{% block container %}
    <div class="card-body text-center col-lg-9 mx-auto ">
        <h1 class="mb-4 bienvenue">Liste Mariages</h1>
        <div class="text-right  col-12">
            <a href="{{ path('mariages_new') }}" type="submit" class="btn btn-outline-success mt-3 mb-3">Ajouter</a>
        </div>
        <table id="liste" class="table table-dark justify-content-center col-12">
            <thead>
            <tr>
                <th class="th-sm text-center">ID

                </th>
                <th class="th-sm text-center">Nom

                </th>
                <th class="th-sm text-center">Date

                </th>

                <th class="th-sm text-center">Lieu

                </th>
                <th class="th-sm text-center action">Action

                </th>
            </tr>
            </thead>
            <tbody>
            {% for mariage in mariages %}
                <tr class="mariage">
                    <td>{{ mariage.id }}</td>
                    <td>{{ mariage.Nom }}</td>
                    <td>{{ mariage.Date ? mariage.Date|date('d-m-Y') : '' }}</td>

                    <td>{{ mariage.Lieu }}</td>
                    <td class="action">
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a href="{{ path('mariages_show', {'id': mariage.id}) }}" type="button"
                               class="btn btn-light">Voir</a>
                            <a href="{{ path('mariages_edit', {'id': mariage.id}) }}" type="button"
                               class="btn btn-info">Modiffier</a>
                            {{ include('mariages/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
