{% extends 'base.html.twig' %}

{% block title %}PrestationsMariages{% endblock %}

{% block body %}
    <h1>PrestationsMariages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestations_mariage.id }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ prestations_mariage.budget }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ prestations_mariage.Quantite }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ prestations_mariage.Type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestations_mariages_index') }}">back to list</a>

    <a href="{{ path('prestations_mariages_edit', {'id': prestations_mariage.id}) }}">edit</a>

    {{ include('prestations_mariages/_delete_form.html.twig') }}
{% endblock %}
