<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    {% endblock %}
    <title>MyWedding</title>
</head>
<body>
<div class="container-fluid p-0">
    <!-----------------------------------------------HEADER------------------------------------------------------------>
    {% block header %}
        <div class="black">
            <div class="row m-0">
                <div class="col-6 text-left pl-4">
                    <figure class="figure">
                        <img src="{{ asset('assets/img/logo1.png') }}" class="img-fluid" alt="logo">
                    </figure>
                </div>
                <div class="text-right align-self-center col-6  pr-4">
                    <a href="{{ path('security_logout') }}" type="button"
                       class="d-none d-lg-inline btn btn-outline-danger btn-sm align-items-center mr-4 decoFontColor">Déconnexion</a>
                    <i class="d-lg-none fas fa-power-off fa-2x text-danger"></i>
                </div>
            </div>
        </div>
    {% endblock %}
    <!----------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------BODY------------------------------------------------------------->
    {% block body %}
    <div>
        <!-----------------------------------------Menu mobile--------------------------------------------------------->

        <div class="black d-lg-none col-12 text-white menu d-flex justify-content-around">
            <a href="{{ path('admin_Accueil') }}" class="text-white"><i class="d-xl-none fas fa-home fa-3x"></i></a>
            <!-- (d-xl-none) permet d'enlever l'icone en xl ou la div -->
            <a href="{{ path('mariages_index') }}" class="text-white"><i class="d-xl-none fas fa-heart fa-3x"></i></a>
            <a href="{{ path('clients_index') }}" class="text-white"><i class="d-xl-none fas fa-users fa-3x"></i></a>
            <a href="{{ path('prestations_index') }}" class="text-white"><i class="d-xl-none far fa-handshake fa-3x"></i></a>
        </div>
        <!------------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------Menu------------------------------------------------------------>

        <div class="container-fluid m-0 p-0 ">
            <div class="row m-0 p-0">
                <div class="col-lg-2 nav black d-none d-lg-inline">
                    <div class="row">
                        <div class="text-lg-center col pt-5 pb-5">
                            <div class="p-2">
                                <a class="nav-item nav-link active p-3" href="{{ path('admin_Accueil') }}">Accueil</a>
                            </div>
                            <div class="p-2">
                                <a class="nav-item nav-link p-3" href="{{ path('mariages_index') }}">Liste Mariages</a>
                            </div>
                            <div class="p-2">
                                <a class="nav-item nav-link p-3" href="{{ path('clients_index') }}">Liste Clients</a>
                            </div>
                            <div class="p-2">
                                <a class="nav-item nav-link p-3" href="{{ path('prestations_index') }}">Liste Prestations</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!----------------------------------------------------------------------------------------------------->


                <!----------------------------------------Début Container---------------------------------------------->
                {% block container %}
                    <div class="card-body text-center col-lg-5 mt-5 mx-auto text-justify">
                        <h1 class="mb-4 bienvenue">BIENVENUE</h1>
                    </div>

                    <!----------------------------------------Fin Container------------------------------------------------>
                {% endblock %}
            </div>
            <!----------------------------------------------END BODY--------------------------------------------------->
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a2bab1df4f.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>