{% extends 'admin.html.twig' %}

{% block title %}Clients index{% endblock %}

{% block container %}
    <div class="card-body text-center mb-5 col-lg-9 mx-auto ">
        <h1 class="mb-4 bienvenue">Liste Clients</h1>
        <div class="text-right  col-12">
            <a href="{{ path('clients_new') }}" type="submit" class="btn btn-success mt-3 mb-3">Ajouter</a>
        </div>
        <table id="liste" class="table table-dark  col-12">
            <thead>
            <tr>
                <th class="th-sm text-center">ID

                </th>
                <th class="th-sm text-center">Nom

                </th>
                <th class="th-sm text-center prenom">Prénom

                </th>

                <th class="th-sm text-center">Email

                </th>
                <th class="th-sm text-center action">Action

                </th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr class="client text-center">
                    <td>{{ client.id }}</td>
                    <td>{{ client.Nom }}</td>
                    <td class="prenom">{{ client.Prenom }}</td>
                    <td>{{ client.Email }}</td>
                    <td class="action text-center">
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a href="{{ path('clients_show', {'id': client.id}) }}" type="button"
                               class="btn btn-light pt-2">Voir</a>
                            <a href="{{ path('clients_edit', {'id': client.id}) }}" type="button"
                               class="btn btn-info pt-2">Modiffier</a>
                            {{ include('clients/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}