{% extends 'admin.html.twig' %}

{% block title %}Clients{% endblock %}

{% block container %}

    <div class="card-body text-center col-lg-5 mt-3 mb-5 mx-auto" id="container">
        <h1 class="mb-4 bienvenue ">Voir Client</h1>
        <div class=" card1 pt-4 pb-4">
            <div class="card  col-10 col-sm-10 col-md-6 col-lg-10 col-xl-10 mx-auto cardInfos text-center">
                <h4 class="font-weight-bold text-left pl-3 pt-2">Infos</h4>
                <div class="mt-4 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0  pt-2"
                           for="name">Nom:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ client.Nom }}
                    </div>
                </div>
                <div class="mt-2 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6  mb-0  pt-2" for="prenom">Prénom:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ client.Prenom }}
                    </div>
                </div>
                <div class="mt-2 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0   pt-2" for="tel">Téléphone:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ client.Telephone }}
                    </div>
                </div>
                <div class="mt-2 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0  pt-2"
                           for="email">E-mail:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ client.Email }}
                    </div>
                </div>
                <div class="mt-2 mb-4 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0  pt-2" for="civil">Civilité:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ client.Civilite }}
                    </div>
                </div>
            </div>


            <div class="card mt-5 col-10 col-sm-10 col-md-6 col-lg-10 col-xl-10 mx-auto cardInfos text-center">
                <h4 class="font-weight-bold text-left pl-3 pt-2">Adresse</h4>
                <div class="mt-4 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0  pt-2"
                           for="numero">N°:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ adresse.Numero }}
                    </div>
                </div>
                <div class="mt-2 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6  mb-0  pt-2"
                           for="voie">Voie:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ adresse.Voie }}
                    </div>
                </div>
                <div class="mt-2 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0   pt-2"
                           for="ville">Ville:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ adresse.Ville }}
                    </div>
                </div>
                <div class="mt-2 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0  pt-2"
                           for="cp">CP:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ adresse.CodePostal }}
                    </div>
                </div>
                <div class="mt-2 mb-4 row">
                    <label class=" font-weight-bold col-12 col-md-6 col-lg-6 mb-0  pt-2"
                           for="pays">Pays:</label>
                    <div class="form-control-plaintext text-center  col-12 col-md-6 col-lg-6">
                        {{ adresse.Pays }}
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-group btn-group-sm mt-3 actionMobile mb-5" role="group" aria-label="...">
            <a href="{{ path('clients_edit', {'id': client.id}) }}" type="button" class="btn btn-info text-center pt-2">Modiffier</a>
            {{ include('clients/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}